<footer>
   <div>
      <h3> NFTrade </h3>
      <a href="https://www.instagram.com"> Instagram </a>
      <a href="https://www.x.com"> Twitter </a>
      <a href="https://www.discord.com"> Discord </a>
   </div>
   <p> &copy; BookHaven 2020</p>
</footer>