<li> 
   <a href="/book">
      <img src="/assets/images/placeholder.png" alt="Book Image" class="book-image">
      <div>
         <p class="book-title"> Book Title </p>
         <p class="book-author"> Author Name </p>
      </div>
   </a> 
</li>