<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>BookHaven</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/styles/global.css">
   <link rel="stylesheet" href="/styles/landingPage.css">
   <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
   <script>
      const savedTheme = localStorage.getItem('theme') || 'light-mode';
      document.documentElement.classList.add(savedTheme);
      document.documentElement.classList.add('no-transition')
 </script>
</head>
<body>
   <header>
      <a href="/explore" class="logo h-medium">
         Explore </br> books
      </a>
      <nav>
         <ul>
            <li>
               <button id="theme-toggle" class="button-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" width="24" height="24">
                     <path id="sun" stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                     <path id="moon" stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                   </svg>
               </button>
            </li>
            <% if(isAuthenticated) { %>
               <li>
                  <button class="profile-button">
                     <% if(user && user.avatar) { %>
                        <img src="<%= user.avatar %>" alt="user">
                     <% } else { %>
                        <%= user.username.charAt(0).toUpperCase() %>
                     <% } %>
                  </button>
                  <div class="user-menu-popup">
                     <a href="/profile"> 
                        <img src="/assets/svg/profile.svg" alt="user icon" class="icon">
                        <span> Profile </span>
                     </a>
                     <a href="/profile#orders"> 
                        <img src= "/assets/svg/orders.svg" alt="orders icon" class="icon">
                        <span> Orders  </span>
                     </a>
                     <a href="/profile#settings"> 
                        <img src="/assets/svg/settings.svg" alt="settings icon" class="icon">   
                        <span> Settings </span>
                        </a>
                     <div class="spacer"></div>
                     <a href="/user/signout"> 
                        <img src="/assets/svg/logout.svg" alt="logout icon" class="icon">
                        <span> Logout </span> 
                     </a>
                  </div>
               </li>
            <% } else { %>
               <li><a href="/signin" class="button-primary"> Sign In </a></li>
               <li><a href="/signup" class="button-primary"> Sign Up </a></li>
            <% } %>
         </ul>
      </nav>
   </header>

   <main>
      <section class="hero-section">
         <div>
            <img src="/assets/images/placeholder.png" alt="Hero Image">
         </div>
         <div>
            <h1 class="h-big">
               Discover your next favourite read
            </h1>
            
            <div class="hero-search">
               <div class="search-input">
                  <input type="text" placeholder="Search for books" class="input-search">
                  <img src="/assets/svg/search.svg" alt="Search Icon" class="icon">
                  <div class="search-results">
         
                  </div>
               </div>
               <button class="button-primary" id="search-button">Search</button>
            </div>
         </div>
         <div>
            <img src="/assets/images/placeholder.png" alt="Hero Image">
         </div>
      </section>

      <section class="dropdown-section">
         <button id="dropdown-first">
            <p class="p-big"> How BookHaven works </p>
            <img src="/assets/svg/arrow-down.svg" alt="Arrow Down" class="icon">
         </button>
         <div class="dropdown-content-first">
            <div>
               <img src="/assets/images/placeholder.png" alt="Placeholder Image">
               <h3 class="h-medium"> Step 1 </h3>
               <p class="p-medium"> Enter book title or author. Find your next literary adventure with ease.</p>
            </div>
            <div>
               <img src="/assets/images/placeholder.png" alt="Placeholder Image">
               <h3 class="h-medium"> Step 2 </h3>
               <p class="p-medium"> Select a book and add it to your cart. You're one step closer to diving into a new story. </p>
            </div>
            <div>
               <img src="/assets/images/placeholder.png" alt="Placeholder Image">
               <h3 class="h-medium"> Step 3 </h3>
               <p class="p-medium"> Complete your purchase. Sit back and wait for your books to arive.</p>
            </div>
         </div>
      </section>

      <section class="dropdown-section">
         <button id="dropdown-second">
            <p class="p-big"> Join BookHaven </p>
            <img src="/assets/svg/arrow-down.svg" alt="Arrow Down" class="icon">
         </button>
         <div class="dropdown-content-second">
            <div>
               <img src="/assets/images/placeholder.png" alt="Placeholder Image">
               <div>
                  <h3 class="h-medium"> As a delivery </h3>
                  <p class="p-medium"> Earn money by delivering books to readers. All you need is a love for books and mode of transport. </p>
                  <button class="button-primary p-medium"> Delivery with us </button>
               </div>
            </div>
            <div>
               <img src="/assets/images/placeholder.png" alt="Placeholder Image">
               <div>
                  <h3 class="h-medium"> As a partner </h3>
                  <p class="p-medium"> BookHaven supports authors and publishers with online sales, promotions and more. </p>
                  <button class="button-primary p-medium"> Partner with us </button>
               </div>
            </div>
            <div>
               <img src="/assets/images/placeholder.png" alt="Placeholder Image">
               <div>
                  <h3 class="h-medium"> As a team </h3>
                  <p class="p-medium"> Join a team dedicated to providing top-notch book delivery services. </p>
                  <button class="button-primary p-medium"> Work with us </button>
               </div>
            </div>
         </div>
      </section>

      <section class="dropdown-section">
         <button id="dropdown-third">
            <p class="p-big"> Get our app now </p>
            <img src="/assets/svg/arrow-down.svg" alt="Arrow Down" class="icon">
         </button>
         <div class="dropdown-content-third">
            <div>
               <h3 class="h-medium"> Order now! </h3>
               <p class="p-medium"> Explore a world of books delivered to your doorstep with BookHaven. Our swift delivery services offer books across genres from top authors.</p>
               <button class="button-primary p-medium"> Download </button>
            </div>
            <img src="/assets/images/placeholder.png" alt="Placeholder Image">
         </div>
      </section>
   </main>
   
   <%- include('partials/notifications') %>   
   <%- include('partials/footer') %>

   <script src="/scripts/landingPage.js"></script>
   <script src="/scripts/theme-toggle.js"></script>
   <script>
      document.documentElement.classList.remove('no-transition');
   </script>
</body>
</html>