<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> BookHaven - <%= title %>  </title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="styles/global.css">
   <link rel="stylesheet" href="styles/searchPage.css">
   <script>
      const savedTheme = localStorage.getItem('theme') || 'light-mode';
      document.documentElement.classList.add(savedTheme);
      document.documentElement.classList.add('no-transition')
 </script>
</head>
<body>
   <%- include('partials/header') %>
   
   <main>
      <section class="sort-bar">
         <div class="filter-by">
            <p> Filter by: </p>
            <button class="button-primary"> Title </button>
            <button class="button-primary"> Author </button>
            <button class="button-primary"> Description </button>
         </div>
         <div>
            <div class="sort-by" id="sortBySelect">
               <p> Sort by: <span> Title </span></p><img src="assets/svg/arrow-down.svg" alt="arrow-down">
               <div class="sort-by-options" id="sortByOptions">
                  <div class="option selected"> Title </div>
                  <div class="option"> Author </div>
                  <div class="option"> Price </div>
                  <div class="option"> Rating </div>
               </div>
            </div>
            <button class="button-primary sort-button">
               <img src="assets/svg/sort-asc-desc.svg" alt="sort-asc-desc" class="icon">
            </button>
         </div> 
      </section>

      <section class="params-bar">
         <div class="price-range">
            <h4> Price Range </h4>
            <div>
               <div class="input-container">
                  <span>$</span>
                  <input type="number" placeholder="Min" value="0.00" class="input-search" id="minPrice">
               </div>
               <span> - </span>
               <div class="input-container">
                  <span>$</span>
                  <input type="number" placeholder="Max" value="50.00" class="input-search" id="maxPrice">
               </div>   
            </div>
         </div>
         <div class="genre-filter">
            <h4> Genre </h4>
            <div>
               <div class="radio-container">
                  <input type="radio" id="fiction" name="category" value="fiction" class="custom-radio">
                  <label for="fiction"> Fiction </label>
               </div>
               <div class="radio-container">
                  <input type="radio" id="non-fiction" name="category" value="non-fiction" class="custom-radio">
                  <label for="non-fiction"> Non-Fiction </label>
               </div>
               <div class="radio-container">
                  <input type="radio" id="mystery" name="category" value="mystery" class="custom-radio">
                  <label for="mystery"> Mystery </label>
               </div>
               <div class="radio-container">
                  <input type="radio" id="thriller" name="category" value="thriller" class="custom-radio">
                  <label for="thriller"> Thriller </label>
               </div>
               <div class="radio-container">
                  <input type="radio" id="romance" name="category" value="romance" class="custom-radio">
                  <label for="romance"> Romance </label>
               </div>
               <div class="radio-container">
                  <input type="radio" id="biography" name="category" value="biography" class="custom-radio">
                  <label for="biography"> Biography </label>
               </div>
            </div>
         </div>
         <div class="format-filter">
            <h4> Subcategory </h4>
            <div>
               <div class="radio-container">
                  <input type="radio" id="fantasy" name="subcategory" value="fantasy" class="custom-radio">
                  <label for="fantasy"> Fantasy </label>
               </div>
               <div class="radio-container">
                  <input type="radio" id="sci-fi" name="subcategory" value="sci-fi" class="custom-radio">
                  <label for="sci-fi"> Sci-Fi </label>
               </div>
               <div class="radio-container">
                  <input type="radio" id="horror" name="subcategory" value="horror" class="custom-radio">
                  <label for="horror"> Horror </label>
               </div>
               <div class="radio-container">
                  <input type="radio" id="self-help" name="subcategory" value="self-help" class="custom-radio">
                  <label for="self-help"> Self-Help </label>
               </div>
               <div class="radio-container">
                  <input type="radio" id="history" name="subcategory" value="history" class="custom-radio">
                  <label for="history"> History </label>
               </div>
               <div class="radio-container">
                  <input type="radio" id="autobiography" name="subcategory" value="autobiography" class="custom-radio">
                  <label for="autobiography"> Autobiography </label>
               </div>
            </div>
         </div>
         <div class="rating-filter">
            <h4> Rating </h4>
            <div>
               <div class="radio-container">
                  <input type="radio" id="5" name="rating" value="5" class="custom-radio">
                  <label for="5" class="stars">
                     <div class="stars-container">
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                     </div>
                  </label>
               </div>
               <div class="radio-container">
                  <input type="radio" id="4" name="rating" value="4" class="custom-radio">
                  <label for="4" class="stars">
                     <div class="stars-container">
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon" class="grayed"/>
                     </div>
                  </label>
               </div>
               <div class="radio-container">
                  <input type="radio" id="3" name="rating" value="3" class="custom-radio">
                  <label for="3" class="stars">
                     <div class="stars-container">
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon" class="grayed"/>
                        <img src="assets/svg/star.svg" alt="Star Icon" class="grayed"/>
                     </div>
                  </label>
               </div>
               <div class="radio-container">
                  <input type="radio" id="2" name="rating" value="2" class="custom-radio">
                  <label for="2" class="stars">
                     <div class="stars-container">
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon" class="grayed"/>
                        <img src="assets/svg/star.svg" alt="Star Icon" class="grayed"/>
                        <img src="assets/svg/star.svg" alt="Star Icon" class="grayed"/>
                     </div>
                  </label>
               </div>
               <div class="radio-container">
                  <input type="radio" id="1" name="rating" value="1" class="custom-radio">
                  <label for="1" class="stars">
                     <div class="stars-container">
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon" class="grayed"/>
                        <img src="assets/svg/star.svg" alt="Star Icon" class="grayed"/>
                        <img src="assets/svg/star.svg" alt="Star Icon" class="grayed"/>
                        <img src="assets/svg/star.svg" alt="Star Icon" class="grayed"/>
                     </div>
                  </label>
               </div>  
            </div>
         </div>
         <button class="button-primary clear-params"> 
            Clear
         </button>
      </section>

      <section class="items-list">
         <% books.forEach(element => { %>
            <%- include('partials/bookCard-search', { book: element }) %>
         <% }); %>
      </section>
   </main>
   
   <%- include('partials/footer') %>
   <script src="/scripts/searchPage.js"></script>
   <script src="/scripts/theme-toggle.js"></script>
   <script>
      document.documentElement.classList.remove('no-transition');
   </script>
</body>
</html>