:root {
   --font-family: 'Poppins', sans-serif;
}

html.dark-mode {
   --background-color: #161616;
   --primary-color: #2E2E2E;
   --secondary-color: #000000;
   --accent-color: #1c1d1d;
   --text-color: rgb(255, 255, 255);
   --text-color-secondary: rgba(255, 255, 255, 0.7);
   --error-color: #FF4C4C;
}

html.light-mode {
   --background-color: #FFFFFF;
   --primary-color: #F0F0F0;
   --secondary-color: #E0E0E0;
   --accent-color: #F5F5F5;
   --text-color: #000000;
   --text-color-secondary: rgba(0, 0, 0, 0.7);
   --error-color: #FF4C4C;
}

html.no-transition * {
   transition: none !important;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: var(--font-family);
   background-color: var(--background-color);
   color: var(--text-color);

   transition: background-color 0.3s, color 0.3s;
}

header, footer, main {
   padding-right: 10rem !important;
   padding-left: 10rem !important;
}

html.dark-mode .icon{
   filter: invert(1);
}

.poppins-thin {
   font-family: "Poppins", serif;
   font-weight: 100;
   font-style: normal;
 }
 
.poppins-extralight {
   font-family: "Poppins", serif;
   font-weight: 200;
   font-style: normal;
}

.poppins-light {
   font-family: "Poppins", serif;
   font-weight: 300;
   font-style: normal;
}

.poppins-regular {
   font-family: "Poppins", serif;
   font-weight: 400;
   font-style: normal;
}

.poppins-medium {
   font-family: "Poppins", serif;
   font-weight: 500;
   font-style: normal;
}

.poppins-semibold {
   font-family: "Poppins", serif;
   font-weight: 600;
   font-style: normal;
}

.poppins-bold {
   font-family: "Poppins", serif;
   font-weight: 700;
   font-style: normal;
}

.poppins-extrabold {
   font-family: "Poppins", serif;
   font-weight: 800;
   font-style: normal;
}

.poppins-black {
   font-family: "Poppins", serif;
   font-weight: 900;
   font-style: normal;
}

a, button {
   all: unset;
   cursor: pointer;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: var(--text-color);
}

.button-primary {
   height: auto;
   width: auto;
   background-color: var(--primary-color);
   color: var(--text-color);
   padding: 1rem 2rem;
   border: none;
   border-radius: 0.5rem;
   cursor: pointer;
   font-size: 1rem;
   font-weight: 600;
   display: flex;
   align-items: center;
   justify-content: center;

   transition: background-color .3s ease;
}

.button-primary:has(img), .button-primary:has(svg) {
   padding: 1rem;
}

.button-primary:hover {
   background-color: var(--secondary-color);
}

.search-input {
   background-color: var(--primary-color);
   color: var(--text-color);
   width: 100%;
   padding: 1rem;
   border: none;
   border-radius: 0.5rem;
   font-size: 1rem;
   font-weight: 600;

   display: flex;
   align-items: center;
   gap: 1rem;

   transition: .3s ease;
}

.search-input > input {
   all: unset;
   width: 100%;
}

.search-input > img {
   width: 1.25rem;
   height: 1.25rem;
}

.search-input:hover {
   background-color: var(--secondary-color);
}

.search-input:focus-within {
   background-color: var(--secondary-color);
}

footer {
   background-color: var(--primary-color);
   display: flex;
   align-items: center;
   justify-content: space-between;

   padding: 2rem;
}

footer > div {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.header {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 2rem;
   background-color: var(--primary-color);
}

.header > div {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.header > div a {
   display: flex;
   align-items: center;
   gap: 1rem;
   font-weight: 500;
}

.header > div:nth-child(2) {
   width: 40%;
}

.header > div  img {
   display: flex;
   width: 2rem;
   height: 2rem;
}

.profile-button {
   all: unset;
   cursor: pointer;

   width: 3rem;
   height: 3rem;

   border-radius: 50%;
}

.header > #theme-toggle {
   border-radius: 50%;
}

.header > div > .not-logged .button-primary:not(#theme-toggle) {
   background-color: var(--secondary-color);
   padding: .75rem 1.25rem;
   transition: background-color .3s ease;
}

.header > div > nav .button-primary:hover {
   opacity: 1;
   background-color: var(--accent-color);
}

.header > div > nav button img {
   width: 100%;
   height: 100%;
   border-radius: 50%;
}

.header > div > nav > ul {
   display: flex;
   align-items: center;
   gap: 2rem;
   list-style: none;
}

.header .search-input {
   padding: .5rem 1rem;
   border-radius: 1rem;
   background-color: var(--background-color);
}

.header .search-input > img {
   width: 1.25rem;
   height: 1.25rem;
}

.header .search-input:hover {
   background-color: var(--secondary-color);
}

.header .search-input:focus-within {
   background-color: var(--secondary-color);
}

.header a, .profile-button {
   transition: opacity .3s ease;
}

.header a:hover, .header a:active, .profile-button:hover, .profile-button:active {
   opacity: 0.6;
}

.header #theme-toggle {
   border-radius: 50%;
   transition: opacity .3s ease;
   padding: 0;
}

.header #theme-toggle svg {
   width: 2rem;
   height: 2rem;
}

.header #theme-toggle:hover {
   background-color: var(--primary-color);
   opacity: 0.6;
}

#moon {
   opacity: 1;
   transition: opacity .3s ease;
}

#sun {
   opacity: 0;
   transition: opacity .3s ease;
}

.dark-mode #moon {
   opacity: 0;
}

.dark-mode #sun {
   opacity: 1;
}

.book-card-explore {
   position: relative;

   width: 100%;
   height: 500px;

   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;

   background-color: var(--primary-color);
   border-radius: 1rem;
   padding: 1rem;
}

.book-card-explore > .wishlist-button {
   position: absolute;
   top: 1rem;
   left: 1rem;
   z-index: 1;

   height: 3rem;
   width: 3rem;
   padding: .5rem;

   opacity: .75;

   transition: opacity .3s ease;
}

.book-card-explore > .wishlist-button img {
   filter: invert(1);
}

.book-card-explore > .wishlist-button:hover {
   opacity: 1;
}

.book-card-explore img {
   object-fit: cover;
   width: 100%;
   height: 100%;
   object-position: center;
   border-radius: 1rem;
}

.book-card-explore .book-info {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 1rem;
}

.book-card-explore .book-info > div {
   height: 100%;
   display: grid;
   grid-template-rows: auto auto auto 1fr;
   gap: .5rem;
}

.book-card-explore .book-info .author {
   font-size: 1rem;
   font-weight: 600;
}

.book-card-explore .book-info .price {
   font-size: 1.25rem;
   align-self: flex-end;
   text-align: right;
}

.book-card-explore .book-info .price span {
   font-weight: 600;
}

.book-card-explore .book-info .title {
   font-size: 1.5rem;
   font-weight: 600;
}

.book-card-explore .book-info button {
   background-color: var(--secondary-color);
}

.book-card-explore .book-info button:hover {
   background-color: var(--background-color);
}

.h-big {
   font-size: 6rem;
   font-weight: 600;
}

.h-medium {
   font-size: 3rem;
   font-weight: 700;
}

.h-small {
   font-size: 1.5rem;
   font-weight: 700;
}

.p-big {
   font-size: 2rem;
   font-weight: 600;
}

.p-medium {
   font-size: 1.5rem;
}

.p-normal {
   font-size: 1rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
   .h-big {
      font-size: 5rem;
   }

   .h-medium {
      font-size: 2.5rem;
   }

   .h-small {
      font-size: 1.25rem;
   }

   .p-big {
      font-size: 1.75rem;
   }

   .p-medium {
      font-size: 1.25rem;
   }

   .p-normal {
      font-size: 0.875rem;
   }
}

@media (max-width: 768px) {
   .h-big {
      font-size: 4rem;
   }

   .h-medium {
      font-size: 2rem;
   }

   .h-small {
      font-size: 1rem;
   }

   .p-big {
      font-size: 1.5rem;
   }

   .p-medium {
      font-size: 1rem;
   }

   .p-normal {
      font-size: 0.75rem;
   }
}

@media (max-width: 480px) {
   .h-big {
      font-size: 3rem;
   }

   .h-medium {
      font-size: 1.5rem;
   }

   .h-small {
      font-size: 0.875rem;
   }

   .p-big {
      font-size: 1.25rem;
   }

   .p-medium {
      font-size: 0.875rem;
   }

   .p-normal {
      font-size: 0.75rem;
   }
}

/* Style the scrollbar track */
::-webkit-scrollbar {
   width: 14px; /* Width of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
   background-color: var(--secondary-color); 
   border-radius: 10px; 
   border: 4px solid transparent;
   background-clip: content-box; 
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
   background-color: var(--primary-color);
}

/* Style the scrollbar corner */
::-webkit-scrollbar-corner {
   background-color: var(--primary-color);
}

.stars {
   position: relative;
   display: inline-block;
   cursor: pointer;
}

.stars-outer {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   white-space: nowrap;
}

.stars-inner {
   position: relative;
   display: inline-block;
   white-space: nowrap;
   overflow: hidden;
   color: gold;
}

.stars-inner img,
.stars-outer img {
   width: 1.5rem; /* Adjust the size as needed */
   height: 1.5rem; /* Adjust the size as needed */
}

.stars-outer {
   opacity: .4;
}