.cart {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.cart-items {
   height: 100% !important;
   max-height: 500px;
}

.cart-total {
   width: 100% !important;
   justify-self: flex-end;
}

.shipping-info {
   height: 100%;
   display: grid;
   grid-template-rows: 1fr auto auto;
}

.shipping-info > button {
   width: 100%;
   justify-self: flex-end;
}

.clear {
   background-color: var(--accent-color) !important;
}

.clear:hover {
   background-color: var(--background-color) !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
   .cart-items {
      max-height: none;
   }

   .shipping-info {
      grid-template-rows: auto auto;
   }
}
